schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="structure" type="StructNumberMessage"/>

  <xs:complexType name="StructNumberMessage">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
      <xs:element name="number" type="xs:int"/>
      <xs:element name="Flag" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

